/* Outfit (variable) */
@font-face {
    font-family: "Outfit";
    src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

/* Young Serif */
@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
}


body{
    background-color: hwb(31 85% 5%);
    font-family: 'Outfit', sans-serif;
    font-weight: 250;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
}
.container{
    max-width: 70%;
    margin: fixed auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.recipe-image{
    width: 100%;
     border-radius: 8px;
    margin-bottom: 20px;
}
h3{
    color:  hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif; 
    font-weight: 600;             
}
h2{
    color:hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
}

h1{
    color: rgb(0, 0, 0);
    font-family: 'Young Serif', serif;
}

.prep-time{
    background-color:  hsl(330, 100%, 98%);
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.heading{
    color: hsl(14, 45%, 36%);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;   
    border-bottom: 10px;
    column-gap: 100px;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
li {
    padding-left: 0.5rem;
}